.page {
    height: 100%;
}

html {
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    font-family: "pt_sans", sans-serif;
    height: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
    background-color: #eeeeee;
}

.page {
    display: flex;
    flex-direction: column;
    max-width: 1400px;
    margin: auto;
}

.page-header {
    flex: 0 0 auto;
    background-color: #4A4D59;
    font-size: 25px;
}

#logo {
    display: flex;
}

.page-content {
    flex: 1 1 auto;
    position: relative;/* need this to position inner content */
    overflow: auto;
}

.page-footer {
    padding: 15px 0 10px 0;
    flex: 0 0 auto;
    background-color: #4A4D59;
    display: flex;
    flex-flow: column;
    color: white;
    text-align: center;
}

.navigation {
    margin: 0;
    background-color: #4A4D59;
    display: flex;
    justify-content: space-between;
}

.navigation .links {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.navigation a {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: white;
}

#addNewPost {
    background-color: #4A4D59;
    color: white;
    text-align: center;
    font-size: 30px;
    padding-bottom: 30px;
}

.wrapper {
    display: flex;
}

.sidebar {
    margin-top: 80px;
    margin-bottom: 80px;
    padding: 15px;
    width: 240px;
    background-color: #4A4D59;
    flex: 0 0 auto;
    display: flex;
    flex-flow: column;
    max-height: fit-content;
}

.sidebar-wrapper {
    margin-top: 30px;
    background-color: white;
    flex-grow: 1;
    overflow: auto;
    min-height: 0;
}

.apply-button {
    margin-left: 60px;
    margin-bottom: 10px;
    background-color: #4A4D59;
    text-align: center;
    color: white;
    size: 16px;

    border-radius: 4px;
    border: none;
    padding: 20px;
    width: 120px;
    transition: all 0.5s;
}

.apply-button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

input {
    margin: 20px;
    width: 200px;
    display: block;
    border: none;
    padding: 10px 0;
    border-bottom: solid 1px rgba(74, 77, 89, 1);
    transition: all 0.3s;
    background: linear-gradient(to bottom, rgba(255,255,255,255) 96%, rgba(204, 204, 204, 1) 4%);
    background-position: -200px 0;
    background-size: 200px 100%;
}

.settings-header {
    size: 14px;
    color: #4A4D59;
    margin-left: 20px;
}

.hashtag {
    margin: 20px;
    padding: 3px 10px 3px 10px;
    background-color: rgba(74, 77, 89, 1);
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    color: white;
}

.hashtag-icon {
    size: 14px;
}

.menuIcon {
    display: none;
}

.icon-wrapper {
    display: flex;
    justify-content: space-between;
}

.settings-icon {
    font-size: 20px;
    text-align: center;
}

.to-the-right {
    justify-content: flex-end;
}

.button {
    margin: 20px auto;
    padding: 10px;
    font-weight: bold;
    display: block;
    color: rgba(74, 77, 89, 1);
    width: 200px;
    border: 3px solid rgba(74, 77, 89, 1);
    text-transform: uppercase;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.2s ease-out;
    background-color: transparent;
}


.button-white {
    color: white;
    border-color: #b8bcca;
}

.button-white:hover {
    color: black;
    background-color: #b8bcca;
}
@media (max-width: 600px) {
    .navigation {
        flex-flow: column wrap;
        padding: 0;
    }

    .navigation .links {
        display: flex;
        justify-content: space-between;
    }

    .navigation a {
        text-align: center;
        padding: 10px;
        border-top: 1px solid rgba(255,255,255,0.3);
        border-bottom: 1px solid rgba(0,0,0,0.1);
    }

    .navigation li:last-of-type a {
        border-bottom: none;
    }

    .wrapper aside {
        display: none;
    }

    .menuIcon {
        display: flex;
    }
}

@media all and (max-height: 800px) {
    .sidebar {
        margin: 0;
    }
}

