html {
    height: 100%;
}

body {
    font-weight: 100;
    padding: 0;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    height: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
    background-color: #eeeeee;
}

.page {
    height: 100%;
    display: flex;
    align-items: stretch;
    flex-direction: row;
}

.page-header {
    display: flex;
    flex: 0 0 auto;
    font-size: 18px;
    align-items: center;
}

.page-header button {
    width: 80px;
    height: 80px;
    color: #666;
    border-radius: 50%;
    background-color: white;
    border: 3px solid #aaa;
    font-size: 40px;
    margin-left: auto;
}

.page-header button:hover {
    border-color: #666;

}

.page-header button:active {
    border-color: black;
}

#logo {
    font-family: 'Poiret One', cursive;
    font-size: 40px;
    display: flex;
}

.page-content {
    flex: 1 1 auto;
    position: relative;/* need this to position inner content */
    overflow: auto;
}

.page-footer {
    flex: 0 0 auto;
    display: flex;
    flex-flow: column;
    color: black;
    text-align: center;
}

.navigation {
    color: black;
    margin: 0;
}

.navigation .links {
}


.navigation a {
    text-decoration: none;
    display: block;
    color: black;
}

#addNewPost {
    background-color: #4A4D59;
    color: black;
    text-align: center;
    font-size: 30px;
    padding-bottom: 30px;
}

.sidebar {
    padding: 30px 60px;
    width: 440px;
    background-color: white;
    flex: 0 0 auto;
    display: flex;
    flex-flow: column;
    overflow: auto;
}

.sidebar-wrapper {
    margin-top: 30px;
    flex-grow: 1;
    min-height: 0;
}

.filter-button {
    width: 80px;
    height: 40px;
    color: #666;
    background-color: white;
    border: 3px solid #aaa;
    font-size: 20px;
    margin-left: 40%;
    transition: all 0.2s ease-out;
}

.filter-button:hover {
    border-color: #666;
}

.filter-button:active {
    border-color: black;
}

.apply-button {
    margin-left: auto;
    margin-bottom: 10px;
    background-color: #4A4D59;
    text-align: center;
    color: white;
    size: 16px;

    border-radius: 4px;
    border: none;
    padding: 20px;
    width: 120px;
    transition: all 0.5s;
}

.apply-button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

input {
    margin: 30px 0;
    width: 100%;
    display: block;
    border: none;
    padding: 10px 0;
    border-bottom: solid 1px rgba(74, 77, 89, 1);
    transition: all 0.3s;
    background-color: white;
}


.settings-header {
    font-weight: normal;
    size: 14px;
    color: #333;
}

.settings-header + input {
    margin-top: 0;
}


.hashtag {
    display: flex;
    margin: 20px;
    padding: 3px 10px 3px 10px;
    background-color: #ccc;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    color: white;
}

.hashtag-icon {
    size: 14px;
}


.to-the-right {
    justify-content: flex-end;
}

.button {
    padding: 10px;
    font-weight: bold;
    display: block;
    color: rgba(74, 77, 89, 1);
    width: 200px;
    border: 3px solid rgba(74, 77, 89, 1);
    text-transform: uppercase;
    font-size: 20px;
    cursor: pointer;
    background-color: transparent;
}

#loadMore {
    margin-left: 40%;
}


#postTemplate, #mainPageTemplate {
    display: none;
}

#likes {
    display: inline-block;
}

@media (max-width: 600px) {
    body {
        overflow: visible;
    }
    .page {
        flex-direction: column;
        overflow: visible;
    }

    .page aside {
        overflow: visible;
    }

    .page main {
        overflow: visible;
    }

    .menuIcon {
        display: flex;
    }
}

@media all and (max-height: 800px) {
    .sidebar {
        margin: 0;
    }
}

